body{
    margin: 0px;
    background:rgb(239, 239, 239);

        font-family: sans-serif;
    }


h1,h2,h3,h4,h5,p,span{
    font-family: sans-serif !important;

}
.header{
    width:100%;
    height:100px;
   position: fixed;
   top: 0px;
   right: 0;
    left: 0;
    z-index: 101;
   

}
.color-site{
    color:#9aa0ac !important
}
.bars-con {
    width: 100%;
    height: 100px;
}
.bars {
    width: 40px;
    height: 40px;
    background: #ddd;
    border-radius: 3px;
    margin: 10px;
}
#showSidemedia {
    display: none;
}
.inp {
    width: 250px;
    height: 30px;
    background: #ddd;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
}
.inpcursor {
    width: 80%;
    height: 25px;
    background: #ddd;
    border: 0px;
    outline: none;
    font-size: 14px;
}
.perfectcircle{
    width: 30px;height: 30px;
    border-radius: 50px;
}
.hunderdpercent{
    width: 100%;height: 100%;
    border-radius: 50px;

}
.side-header{
    width:43%;
    height:100%;

}
.app-header{
    width:40%;
    height:100px;
    display: flex;
    align-items: center;
    
}
nav{
    width: 90%;
    display: inline-flex;
    justify-content: flex-end;
}
nav li{
    list-style: none;
    padding-left: 20px;
    width:auto;
    height: 50px;
    align-items: center;
    margin: 5px;
    display: flex;
    cursor: pointer;

}
.app-container{
    width:100%;
    height: auto;
}
aside{
    width: 17%;
    height: 100vh;
    top: 100px;
    position: relative;

}
aside ul{
    padding-left: 10px!important;
}
.sidebar{
    width: 17%;
    height: 100%;
    position: fixed;
    top: 100px;


}
.sidebar li{
    list-style: none;
}
.app-side{
    margin-left: 0%;
    margin-top: 100px;
    width: 83%;
    overflow: hidden;
    padding: 10px;

}
.sitecolor{
    color: #603a6ee6;
}
.sidebar-content {
    width: 100%;
    height: auto;
}
.li-content-sidebar {
    list-style: none;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.li-content-sidebar:hover .text-d{
    position: relative;
    left: 10px;
    transition-duration: 2s;
}

.li-contents-slide{
    margin: 20px;
    list-style: none;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#show-hide{
    display: none;
}

.fonts {
    cursor: pointer;
    padding: 5px;
    width: 67%;
    padding-left: 20px;
}
.text-d{
    transition-duration: 2s;
    position: relative;
    white-space: normal;
    letter-spacing: 0.7px;
    line-height: 25px;
    font-family: sans-serif !important;
    font-weight: 500;
    font-weight: 300;
    font-size: 15px;
}
.text-df11{
    white-space: normal;
    letter-spacing: 0.7px;
    line-height: 25px;
    font-family: sans-serif !important;
    font-weight: 500;
    font-weight: 400;
    font-size: 13px;
    color: #603a6ee6;   
}
.main{
    width:72%;height:auto;
    justify-content: center;
    padding: 10px;
}
.row1{
    width:100%;height: auto;
}
.box-home{
    width:70%;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
}
.box{
    width:35%;
    height:150px;
    border-radius: 5px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 40px;
    padding-right: 30px;
}
.row-tabs{
    height:250px;
    border-radius:10px;
    width:100%;
    padding: 10px;
  }
.propt-box{
    width:30%;
    height: auto;
}
/*#603a6ee6*/
.border-shap-bg{
    width:100%;
    height:335px;
    background-image:-webkit-linear-gradient(0deg,#0796c6 0%,#3de784 100%);
    background-image:linear-gradient(0deg,#0796c6 0%,#3de784 100%);
    border-radius: 10px;
}
.row2{
    width:100%;height: 300px;
}
.main-right{
    width:23%;height:100%;background:white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.row-2{
    width:100%;
    height:auto

}
.row-gap{
    width:50%;height:auto;
}
.row-level{
    width:92%;
    height: auto;
    display: flex;
    padding: 10px;
    margin:10px
}
.row-chart{
    width:100%;background-color: #f8f8f8;
    border-radius: 5px;
}
.chart-row{
    height: 10px;background-color: lightblue;border-radius: 5px;
}
.rgb {
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(255,255,255,0.8);
    width: 100%;
    height: 100vh;
    z-index: 2;
}
.boxAgent{
    width:22%;
    height: 90px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.voucher_market{
    width:98%;
    height: 100vh;
    position: fixed;
    top: 100px;
    left: 17%;
    z-index: 1000;
    padding: 10px;
    
}
#voucher{
    display: none;
}
.row-voucher{
    width:100%;
    height:100%;
    
}
.row-item-api{
    width:70%;
    height: auto;
    display: flex;
    /* box-shadow: 0 0 35px 0 rgb(154 161 171 / 45%); */

}
.voucer_1{
    width:70%;
    height:100px;
    margin:10px;
    display: flex;
    box-shadow: 0 0 15px 0 rgb(154 161 171 / 25%);
    border-radius: 10px;
}
.row_id_Advert{
    width:100%;
    height: 200px;
    padding: 10px;
}
.advert_promo{
    width:100%;
    height: 200px;
    overflow: scroll; 
}
.advert_rotation{
    width:200%;
    height:200px;
    position: relative;
    right: 0px;
    display: flex;
    transition-duration: 2s;
}
.box-rotate{
    width:25%;
    height:150px;
    margin:10px;
    display: flex;
    justify-content: center;
}
.payemt-system{
    width:100%;
    height:300px;
    background:red
}
@media(max-width:600px){
    .voucher_market{
        left:0px;
        width:100%
    }
    .row-item-api{
        width:97%;
        align-items: center;
    }
    .voucer_1{
        width: 90%;
    }
    .voucer_1 img{
        width: 50px !important
    }
    .voucer_1 label{
        font-size:13px
    }
    .iconhide{
        display: none;
    }
    .header{
        justify-content: center;
    }
    aside{
        position: fixed;
        left:-100%;
        width:80%
    }
    .sidebar{
        position: relative;
        width: 100%;
    }
    .app-side{
        width:100%;
        padding: 0px;
    }
    .ok{
        flex-direction: column;
        width:100%;
        height: auto;

    }
    .main{
        width:97%;
        height: auto;
        flex-direction: column;
    }
    .row-1{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .row-2{
        width:97%;
        height: auto;
        
    }
    .box-home{
        width: 99%;
        height: auto;
    }
    .box{
        width:95%;
        margin-bottom: 10px;
    }
    .main-right{
        width: 90%;
    }
    .propt-box,.bars-con{
        width:97%;
        margin-bottom: 10px;
    }
    .side-header{
        width: 20%;
    }
    .app-header{
        width: 60%;
    }
    .row-col-table{
        height: auto;
        flex-direction: column;
    }
    .boxAgent{
        width:92%
    }
}

@media(max-width:400px){
    .voucer_1 img{
        width: 40px !important
    }
    .voucer_1 label{
        font-size:11px
    }
}

